/* Body */
.page-heading {
  margin-top: 100px;
  text-align: center;
}
body {
  height: 100%;
}
.page-heading {
  color: #19345c;
}


/* Nav Bar */
.navbar-brand {
  color: white;

}
.navbar-brand:hover {
  color: #91b0ff;
}
.navbar {
  background-color: #19345c !important;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #91b0ff;
}
.request-appt-btn {
  background-color: #91b0ff;
}

/* Home Page */

/* Carousel */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-img {
  width: 100vw;
}
.carousel-inner {
  height: 500px;
}

/* Features Section */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.feat-icon {
  width: 2rem;
}


/* Services & Pricing */
#big-price {
  font-size: 500%;
}
#package-list {
  text-align: center;
}
#add-services {
  font-size: 150%;
  font-weight: bold;
}
#same-day {
  font-style: italic;
}
#disclaimer-heading {
  text-align: center;
}
.emphasis-italic {
  font-weight: bold;
  font-style: italic;
}
.emphasis-bold {
  font-weight: bold;
}

/* Portfolio */

.gallery-img {
  width: 25vw;
  padding: 5px;
  
}

a {
  color: inherit;
}

a:hover {
  color: #bbb;
}

.italic { 
  font-style: italic; 
}

.small { 
  font-size: 0.8em; 
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* About Us & FAQ */
.about-top {
  padding: 25px 5px 0px 5px;

}
#headshot {
  width: 35%;
  float: right;
  padding-left: 50px;
}
#faq-heading {
  text-align: center;
  color: #19345c;
}
#faq-image {
  width: 100%;
}
/* #bio {
  padding: 25px;
} */

/* Contact & Request Appointment */
.form-container {
  margin-top: 50px;
}
.form-box {
  margin-bottom: 25px;
}
#service-map {
  width: 100%;
}
#contact-list {
  list-style: none;
}
#contact-container {
  margin-top: 50px;
}


/* Footer */
footer {
  color: #19345c;
}
.footer-icon {
  border: none;
  
}

/* Media Queries */
@media screen and (max-width: 575.98px) {
  
  #headshot {
    width: 100%;
    padding-left: 0;
    padding: 25px;
    padding-bottom: 50px;
  }
  .carousel-inner {
    height: 230px;
  }
  
  
}