/* Fonts */
@font-face {
  font-family: 'Ampero'; 
  src: url('fonts/ampero/Ampero-Bold.otf'); 
}
@font-face {
  font-family: 'Navine'; 
  src: url('fonts/navine/NavineDemo-SemiCondensed.ttf'); 
}
@font-face {
  font-family: 'Navine-Italic'; 
  src: url('fonts/navine/NavineDemo-SemiCondensed\ Italic.ttf'); 
}

/* Body */
.page-heading {
  margin-top: 50px;
  text-align: center;
  font-family: 'Ampero';
  font-size: 400%;
  background-color: rgba(145, 176, 255, .5);
  padding-top: 50px;
  padding-bottom: 25px;
  color: #19345c;
}
body {
  height: 100%;
}
p {
  font-family: 'Navine';
  color: #19345c;
}
main {
  min-height: calc(100vh - 212px);
}
/* Nav Bar */
#logo {
  height: 35px;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: #91b0ff;
}
.navbar {
  background-color: #19345c !important;
  height: 60px;
}
.nav-link {
  color: white;
  font-family: 'Navine';
}
.nav-link:hover {
  color: #91b0ff;
}
.nav-link:focus{
  color: white !important;
}
.request-appt-btn {
  font-family: 'Navine';
  background-color: #91b0ff;
  color: #19345c;
}
.request-appt-btn:hover {
  color: #19345c;
  background-color: white;
  border-color: white;
}

/* Home Page */

/* Carousel */
/* .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
} */
/* .carousel-caption {
  position: relative;
  bottom: 35px;
} */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-img {
  width: 100vw;
  
}
.carousel-inner {
  height: 500px;
  padding-bottom: 95px;
}
#slide-label-1 {
  color: #19345c;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 2.5rem;
  font-family: 'Ampero';
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  position: relative;
  bottom: 120px;
  left: 540px;
  width: 420px;
}
#slide-label-2 {
  color: white;
  background-color: rgba(25, 52, 92, .85);
  font-size: 2.5rem;
  font-family: 'Ampero';
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  position: relative;
  bottom: 130px;
  right: 75px;
  width: 380px;
}
#slide-label-3 {
  color: #19345c;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: left;
  font-family: 'Ampero';
  position: relative;
  bottom: 100px;
  right: 130px;
  width: 360px;
}

/* Home Header */
#home-header {
  background-color: #19345c;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 400%;
  font-family: 'Ampero';
  color: white;
}
.home-blurb {
  margin-top: 25px;
}
.blurb-box {
  background-color: rgba(145, 176, 255, .5);
}
.blurb-btn {
  padding-bottom: 25px;
}
.btn-outline-secondary {
  color: #19345c;
  font-family: 'Navine';
}
.btn-outline-secondary:hover {
  background-color: #19345c;
}

/* Features Section */
.feat-title {
  color: #19345c;
  font-family: 'Ampero';
}
.feature-icon {
  border-radius: .75rem;
  color: #19345c;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}
.text-shadow-1 { 
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); 
}
.text-shadow-2 { 
  text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); 
}
.text-shadow-3 { 
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); 
}
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.feat-icon {
  width: 2rem;
}
.feature-btn {
  font-family: 'Navine';
  background-color: #19345c;
  border: none;
}
.feature-btn:hover {
  background-color: #91b0ff;
  color: #19345c;
}

/* Services & Pricing */
#big-price {
  margin-top: 25px;
  font-size: 700%;
  font-family: 'Ampero';
  color: #19345c;
}
#package-list {
  margin: 0;
  text-align: center;
  font-family: 'Navine';
  color: #19345c;
}
#add-services {
  font-size: 150%;
  font-weight: bold;
}
#same-day {
  font-style: italic;
}
.emphasis-italic {
  font-weight: bold;
  font-style: italic;
}
.emphasis-bold {
  font-weight: bold;
}
#add-services {
  font-family: 'Ampero';
  color: #19345c;
}
.list-group-item {
  font-family: 'Navine';
  color: #19345c;
}
#all-img {
  margin-top: 25px;
}
#cloudy {
  margin-top: 25px;
  font-size: 150%;
}
.pricing {
  padding-bottom: 0;
}

/* Disclaimers */
#disclaimer-heading {
  font-family: 'Navine';
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  background-color: #19345c;
}
.dis-sub {
  font-family: 'Ampero';
  color: #19345c;
}
.extra-room {
  font-family: 'Navine';
  color: #19345c;
}

/* Portfolio */
.row>* {
  padding-left: 0;
}
.gallery-img {
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.lightbox {
  margin-top: 60px;
}
a {
  color: inherit;
}
a:hover {
  color: #bbb;
}
.italic { 
  font-style: italic; 
}
.small { 
  font-size: 0.8em; 
}
/** LIGHTBOX MARKUP **/
.lightbox {
  /* Default to hidden */
  display: none;
  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* A bit of padding around image */
  padding: 1em;
  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}
/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}
.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;
  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* About Us & FAQ */
.about-top {
  padding: 25px 5px 0px 5px;
}
#headshot {
  width: 33%;
  float: right;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
}
#faq-heading {
  text-align: center;
  color: #19345c;
  font-family: 'Navine';
}
.accordion-header {
  font-family: 'Navine';
  font-weight: bold;
  color: #19345c;
}
.accordion-body {
  font-family: 'Navine-Italic';
  color: #19345c;
}
#faq-image {
  width: 100%;
}
#about-heading {
  margin-top: 50px;
  text-align: center;
  font-family: 'Ampero';
  font-size: 400%;
  background-color: rgba(145, 176, 255, .5);
  padding-top: 50px;
  padding-bottom: 25px;
  color: #19345c;
}
#bio {
  padding-top: 25px;
  padding-bottom: 65px;
  padding-left: 25px;
  font-size: 1.2rem;
  background-color: #19345c;
}
.bio-paragraph {
  color: white;
}

/* Contact */
.form-container {
  margin-top: 50px;
}
.form-box {
  margin-bottom: 25px;
}
#service-map {
  width: 100%;
}
#contact-methods {
  list-style: none;
}
#contact-container {
  margin-top: 25px;
}
.contact-icon {
  width: 24px;
}
.contact-list {
  display: inline-flex;
  align-items: flex-start;
}
.method-name {
  padding-left: 15px;
  align-items: center;
}

/* Request Appointment */
#request-img {
  width: 100%;
}
#appt-head {
  font-size: x-large;
}
#appt-text {
  font-size: medium;
}

/* Footer */
footer {
  height: 152px;
  margin-top: 50px;
  font-family: 'Navine';
}
.bg-dark {
  background-color: rgba(25, 52, 92, 1);
}
.footer-icon {
  border: none;
}
i {
  font-size: x-large;
}
.text-white {
  text-decoration: none;
}
#footer-top {
  margin-left: 0;
  padding-right: 50px;
  background-color: rgba(25, 52, 92, 1);
}
#footer-bottom {
  background-color: rgba(25, 52, 92, 0.5);
} 
#footer-social {
  padding-bottom: 25px;
}

/* Media Queries */
@media screen and (max-width: 575.98px) {
  #headshot {
    width: 100%;
    padding-top: 25px;
    padding-left: 50;
    padding-right: 50px;
    padding-bottom: 25px;
  }
  .carousel-inner {
    height: 230px;
  }
  .gallery-img {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .img-container {
    width: auto;
  }
  .gallery-row {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact {
    padding-left: 10px;
  }
  .contact-box {
    width: 100%;
  }
  .contact-list {
    display: flex;
  }
  #contact-methods {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-left: 5px;
  }
  #home-header {
    font-size: 300%;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .page-heading {
    font-size: 300%;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  #about-heading {
    font-size: 200%;
    /* margin-top: 70px; */
  }
  #bio {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    font-size: 1rem;
  }
  .blurb-btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-blurb {
    padding-left: 15px;
    padding-right: 15px;
  }
  #slide-label-1 {
    display: none;
  }
  #slide-label-2 {
    display: none;
  }
  #slide-label-3 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .method-name {
    font-size: 12px;
  }
  .contact-icon {
    width: 18px;
  }
}

@media screen and (min-width: 575.99px) {
  .contact-box {
    width: 50%;
  }
  #contact-methods {
    padding-left: 0;
  }
  #bio {
    padding-right: 25px;
  }
  #about-heading {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-device-width: 576px) and (max-device-width: 1197.98px) { 
  .carousel-inner {
    max-height: 350px;
  }
}
@media screen and (min-width: 1198px) {
  .contact-box {
    width: 50%;
  }
  .contact-list {
    display: flex;
  }
  #contact-methods {
    margin-top: 22px;
    padding-left: 15px;
  }
  .contact-icon {
    width: 28px;
  }
  .method-name {
    font-size: 125%;
    padding-left: 20px;
  }
  .email-icon {
    position: relative;
    top: 5px;
  }
}
@media screen and (max-width: 999px) {
  .navbar-collapse {
    background-color: #19345c;
    padding: 0px 10px 10px 10px;
  }
  #slide-label-1 {
    position: relative;
    left: 380px;
  }
  #slide-label-2 {
    position: relative;
    bottom: 130px;
  }
  #slide-label-3 {
    position: relative;
    bottom: 95px;
  }
}
